@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #000;
  --text-color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.my-container {
  @apply w-[1200px] mx-auto;
}

.menu-item{
    @apply hover:scale-110 duration-300
}

.swiper-pagination-bullet{
  @apply bg-white !important
}